
{{#each users}}

<!-- Divider-->
<hr class="my-4" />
<!-- Post preview-->
<div class="post-preview">

  <a href="/utenti/{{this.id}}">
    <h2 class="post-title">{{this.titolo}}</h2>
      <p class="post-subtitle">{{this.sottotitolo}}</p>
  </a>

</div>

{{/each}}
