

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Domus Mirabilia</h1>
                    <span class="subheading">Gioielli per sentirti unica</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">



        <div class="intro">
            <h2 class="text-center">Esplora i nostri prodotti</h2>
            <p class="text-center">Una selezione di gioielli handmade che ti fanno sognare</p>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="/assets/img/b1.jpg"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="/assets/img/b2.JPG"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="/assets/img/b3.JPG"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="/assets/img/b4.jpg"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="/assets/img/b5.jpg"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="/assets/img/b6.JPG"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="/assets/img/b7.jpg"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="/assets/img/b8.jpg"></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="/assets/img/b9.jpg"></div>

        </div>


        </div>
    </div>
</div>
